<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator Homepage</title>
</head>
<body>

<h1>CALCULATOR HOME</h1>
<a href="{%url 'cal-add' %}">Addition</a> <br>
<a href="{%url 'cal-sub'%}"> Subtration</a><br>
<a href="{%url 'cal-mul'%}"> Multiplication</a><br>
<a href="{%url 'cal-div'%}">DIVISION</a><br>
<a href="{%url 'cal-cube'%}">CUBE</a><br>
<a href="{%url 'cal-square'%}">SQUARE</a><br>
<a href="{%url 'cal-factorial'%}">FACTORIAL</a> <br>
<a href="{%url 'cal-wordcount'%}">WORD COUNT</a> <br>
<a href="{%url 'cal-prime'%}">PRIME</a> <br>

</body>
</html>