<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        .head{
        text-align:center;
        }
        input{
        margin-left:auto;
    </style>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 border border-2">
            <div class="head ">
            <h1 class="mb-3">LOGIN</h1></div>
            <form action="" method="POST">
                {%csrf_token%}
                {{form.as_p}}
<!--            <div class="mb-3">-->
<!--                <input type="text" placeholder="username" name="u_name" required>-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <input type="text" placeholder="password" name="pwd" required>-->
<!--            </div>-->
            <div class="mb-3">
                <input type="submit" value="LOGIN" >
            </div>
            </form>


        </div>

    </div>
        </div>

</body>
</html>